<div class="content" role="main">
    <div id="Games" class="row">
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Pok%C3%A9mon_Trading_Card_Game_logo.svg/1200px-Pok%C3%A9mon_Trading_Card_Game_logo.svg.png" alt="Card image cap">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group" style="align-items: center;">
                <a routerLink='../PokemonMainPage'><button type="button" class="btn btn-sm btn-outline-primary" style="background-color: 125699 !important;">Pokemon TCG</button></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/1/11/Yu-Gi-Oh%21_%28Logo%29.jpg" alt="Card image cap">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group" style="align-items: center;">
                <a routerLink='../YuGiOhMainPage'><button type="button" class="btn btn-sm btn-outline-primary" style="background-color: 125699 !important;">Yu-Gi-Oh</button></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="https://www.pngkey.com/png/full/648-6485057_logo-dragon-ball-super-tcg-leave-a-comment.png" alt="Card image cap">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group" style="align-items: center;">
                <a routerLink='../DragonBallMainPage'><button type="button" class="btn btn-sm btn-outline-primary" style="background-color: 125699 !important;">Dragon Ball</button></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Magicthegathering-logo.svg/1280px-Magicthegathering-logo.svg.png" alt="Card image cap">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group" style="align-items: center;">
                <a routerLink='../MagicMainPage'><button type="button" class="btn btn-sm btn-outline-primary" style="background-color: 125699 !important;">Magic</button></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    
    <!-- Terminal 
    <div class="terminal" [ngSwitch]="selection.value">
      <pre *ngSwitchDefault>ng generate component xyz</pre>
      <pre *ngSwitchCase="'material'">ng add @angular/material</pre>
      <pre *ngSwitchCase="'pwa'">ng add @angular/pwa</pre>
      <pre *ngSwitchCase="'dependency'">ng add _____</pre>
      <pre *ngSwitchCase="'test'">ng test</pre>
      <pre *ngSwitchCase="'build'">ng build --prod</pre>
    </div>
  -->
  
  
  </div>
