<div>
  <div id="carrusel">
    <ngb-carousel [showNavigationArrows]="true" [showNavigationIndicators]="true" interval="10000" [keyboard]="true"
      [pauseOnHover]="true" [wrap]="true" [activeId]="'sliderThree'">

      <ng-template ngbSlide id="sliderOne">
        <div class="picsum-img-wrapper">
          <img
            src="https://lh3.googleusercontent.com/proxy/Hfqbp2RegSu2dCYIWWqHsZR-1telP5FgLur-nYdL_HmPEYwMk9Toq5p-BI2wusBIG0MdTjUnNQpfctA"
            style="height: 400px; width: 1300px;" alt="Carousel One">
        </div>
        <div class="carousel-caption">
          <h3><b>Dragon Ball Trading Card Game</b></h3>
          <p style="background-color: #125699;">Bienvenido al mundo de juego de cartas coleccionable de Dragon Ball</p>
        </div>
      </ng-template>
      <ng-template ngbSlide id="sliderTwo">
        <div class="picsum-img-wrapper">
          <img
            src="https://lh3.googleusercontent.com/proxy/Hfqbp2RegSu2dCYIWWqHsZR-1telP5FgLur-nYdL_HmPEYwMk9Toq5p-BI2wusBIG0MdTjUnNQpfctA"
            style="height: 400px; width: 1300px;" alt="Carousel One">
        </div>
        <div class="carousel-caption">
          <h3><b>Dragon Ball Trading Card Game</b></h3>
          <p style="background-color: #125699;">Bienvenido al mundo de juego de cartas coleccionable de Dragon Ball</p>
        </div>
      </ng-template>
      <ng-template ngbSlide id="sliderThree">
        <div class="picsum-img-wrapper">
          <img
            src="https://lh3.googleusercontent.com/proxy/Hfqbp2RegSu2dCYIWWqHsZR-1telP5FgLur-nYdL_HmPEYwMk9Toq5p-BI2wusBIG0MdTjUnNQpfctA"
            style="height: 400px; width: 1300px;" alt="Carousel One">
        </div>
        <div class="carousel-caption">
          <h3><b>Dragon Ball Trading Card Game</b></h3>
          <p style="background-color: #125699;">Bienvenido al mundo de juego de cartas coleccionable de Dragon Ball</p>
        </div>
      </ng-template>

    </ngb-carousel>
  </div>
  <div class="row">
    <div class="col" id="separador">
    </div>
    <div class="col-10" style="align-items: center; height: auto;">
      <div class="row">
        <div class="col">
          <p id="titular"><b>Mas recientes</b></p>
          <div class="row card-columns">
            <div class="col-4 " *ngFor="let top3Recent of cardService.listMasRecientesTop3">
              <div class="card text-center">
                <img class="card-img-top" [src]="top3Recent.Img" alt="Card image cap">
                <div class="card-body">
                  <a>
                    <p style="text-align: center; font-size: 15px" class="card-title"><b>{{top3Recent.CartaName}}</b>
                    </p>
                  </a>
                  <a type="button" class="btn btn-outline card-text"
                    routerLink='/CardDetail/{{top3Recent.CartaId}}'>Ver</a>
                </div>
              </div>
            </div>

          </div>
          <div style="padding-top: 15px;">
            <table class="table table-borderless table-striped " style="text-align: center;">
              <tbody>
                <tr *ngFor="let cardList of cardService.listMasRecientes4_8">
                  <td>{{cardList.CartaId}}</td>
                  <td>{{cardList.CartaName}}</td>
                  <td><a type="button" class="btn btn-outline card-text"
                      routerLink='/CardDetail/{{cardList.CartaId}}'>Ver</a></td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
        <div class="col">
          <p id="titular"><b>Gangas Del Dia!</b></p>
          <div class="row card-columns">
            <div class="col-4 " *ngFor="let cardList of cardService.listGangasTop3">
              <div class="card text-center">
                <img class="card-img-top" [src]="cardList.Img" alt="Card image cap">
                <div class="card-body">
                  <a>
                    <p style="text-align: center; font-size: 15px" class="card-title"><b>{{cardList.CartaName}}</b>
                    </p>
                  </a>
                  <a type="button" class="btn btn-outline card-text"
                    routerLink='/CardDetail/{{cardList.CartaId}}'>Ver</a>
                </div>
              </div>
            </div>

          </div>
          <div style="padding-top: 15px;">
            <table class="table table-borderless table-striped " style="text-align: center;">
              <tbody>
                <tr *ngFor="let cardList of cardService.listGangas4_8">
                  <td>{{cardList.CartaId}}</td>
                  <td>{{cardList.CartaName}}</td>
                  <td><a type="button" class="btn btn-outline card-text"
                      routerLink='/CardDetail/{{cardList.CartaId}}'>Ver</a></td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col" id="separador">
    </div>
  </div>

  <div class="row">
    <div class="col" id="separador">
    </div>
    <div class="col-8" style="align-items: center; height: auto;">

    </div>
    <div class="col" id="separador">
    </div>
  </div>
</div>