<div class="row">
    <div class="col" id="separador">
    </div>
    <div class="col-8" style="align-items: center; height: auto; padding-bottom: 40px;" >
        <h1><b>Carrito de {{appComponent.userName}}</b></h1>
        <table class="table table-striped table-bordered" >
            <thead>
              <tr>
                <th scope="col">Nº del producto</th>
                <th scope="col">Id de la carta </th>
                <th scope="col">Cantidad</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody id="tablaPedido"> 
              <tr style="align-items: center;" *ngFor="let cardList of userService.carritoProducts">
                <td>{{cardList.cartaCarritoId}}</td>
                <td>{{cardList.cartaVendedorFId}}</td>
                <td style="display: flex;">{{cardList.fCantidad}}</td>
                <td><button type="button" class="btn btn-sm btn-outline-danger" (click)="deleteCard(cardList.carritoFId ,cardList.cartaVendedorFId)"
                    style="background-color: red !important; color: white;">
                        Eliminar
                  </button></td>
              </tr>
  
            </tbody>
          </table>
          <div style="float: right;">
            <button type="button" class="btn btn-sm btn-outline-primary" (click)="finalizarCompra()"
            style="background-color: #125699 !important; color: white;">
                Finalizar Compra
          </button>
          </div>
    </div>
    <div class="col" id="separador">
    </div>
  </div>
